:root{
    --defaultFont: "Nunito";
    /* --defaultFont: "Poppins"; */
    --blue: #1890ff;
    --darkerBlue: #1890ff66;
    --gray: #3e4956;
    --darkerGray: #3e495655;
}

*{
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: var(--defaultFont) !important;
    /* font-family: Helvetica, sans-serif; */
}

label {
    padding: 0;
    margin: 0;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-default, .btn-default:visited {
    color: #eeeeee;
    background-color: var(--blue);
    border: 1px solid var(--darkerBlue);
    box-shadow: none;
}
.btn-default:hover, .btn-default:focus {
    color: #eeeeee;
    background-color: var(--darkerBlue);
    border: 1px solid var(--darkerBlue);
    box-shadow: none;
}

.btn-border, .btn-border:visited {
    color: #eeeeee;
    background-color: var(--gray);
    border: 1px solid var(--gray);
    box-shadow: none;
}
.btn-border:hover, .btn-border:focus {
    background-color: var(--darkerGray);
    color: #eeeeee;
    border: 1px solid var(--gray);
    box-shadow: none;
}

.font13em{
    font-size: 1.3rem;
}
.font15em{
    font-size: 1.5rem;
}

.hidden{
    display: none;
}

.grayBox {
    padding: 20px 20px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.taskProjectFont{
    font-size: 0.8em;
    color: #838383;
}

.show-name{
    font-size: 1.5em;
    font-weight: 200;
}

.show-description{
    font-size: 1.2em;
    /* font-style: italic; */
    font-weight: 200;
}

.whiteSpacePreWrap{
    white-space: pre-wrap;
}

.cardModel{
    background-color: #7eabd422;
    padding: 10px 20px;
}

@media (max-width: 767.98px) {
    .btn-responsive {
        display:block;
        width: 100%;
    }
}
