<div class="menuButton">
    {# class="d-inline-block float-right" #}
    <button type="button" id="sidebarCollapse" class="btn btn-sm btn-outline-secondary" onclick="toggleMenu()">
        <i class="fas fa-bars"></i>
    </button>
</div>